figure {
margin: 0.5em;
}
figcaption {
text-align:center;
}
.row_2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-flow: row;
}
.row_3 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-flow: row;
}
figure img {
    display:table-cell;
    max-width:100%;
    margin-left:auto;
    margin-right:auto;
}
